<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Humidity.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>45B223A11CCBA2B40071B6F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45B223B51CCBA2B50071B6F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45B223C01CCBA2B50071B6F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
